<div class="edit_card_popup wrapper card_menu_popup add_label_popup">
  <div class="card_menu_popup_header">
    <h5>Labels</h5><i class="icon-cancel"></i>
  </div>
  <hr>
  <ul>
    <li><span class="card_label label_green" data-color="green">{{label_green_text}}</span></li>
    <li><span class="card_label label_yellow" data-color="yellow">{{label_yellow_text}}</span></li>
    <li><span class="card_label label_orange" data-color="orange">{{label_orange_text}}</span></li>
    <li><span class="card_label label_red" data-color="red">{{label_red_text}}</span></li>
    <li><span class="card_label label_purple" data-color="purple">{{label_purple_text}}</span></li>
    <li><span class="card_label label_blue" data-color="blue">{{label_blue_text}}</span></li>
  </ul>
</div>    